<div class="modal-content">
	<div class="modal-header">
		<button class="close" data-dismiss="modal" area-hidden="true">X</button>
	</div>
	<div class="modal-body">
		<div>
			<label>Name:</label><br />
			<input class="customer-name" type="text" />
		</div>
		<div>
			<label>Company:</label><br />
			<input class="customer-company" type="text" />
		</div>
		<div>
			<label>Email:</label><br />
			<input class="customer-email" type="text" />
		</div>
		<div>
			<label>Phone number:</label><br />
			<input class="customer-number" type="text" />
		</div>
		<div>
			<label>Message</label><br />
			<input class="customer-message" type="text"/>
		</div>
		<div>
			<button class="btn btn-success">Send</button>
		</div>
	</div>
</div>